window {
    margin: 0px;
    border: 2px solid #89b4fa;
    background-color: #0f111a;
    border-radius: 10px;
    font-family: "FiraCode Nerd Font Mono";
    font-size: 16px;
}

#input {
    margin: 10px;
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color: #1e202e;
    color: #cdd6f4;
}

#entry {
    padding: 10px;
    margin: 5px;
    border-radius: 6px;
    color: #cdd6f4;
    background-color: transparent;
}

#entry:selected {
    background-color: #1e202e;
    border-left: 3px solid #89b4fa;
    color: #89b4fa;
}

#outer-box {
    margin: 5px;
}

#scroll {
    margin: 0px 5px;
}

#text {
    margin: 0px 5px;
}
